.swiper-button-prev {
    padding: 16px;
    border: 2px solid gray;
    background-color: black;
    border-radius: 50%;
    top: 115px !important;
    left: 93% !important;
    color: gray !important;
  }
  
  .swiper-button-next {
    padding: 16px;
    border: 2px solid gray;
    background-color: black;
    border-radius: 50%;
    top: 115px !important;
    right: 0% !important;
    color: gray !important;
  }
  
  .swiper-button-prev:hover {
    color: #EFC378;
  }
  
  .swiper-button-next:hover {
    color: #EFC378;
  }